version: '3.7'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./project:/app/project
      - ./requirements.txt:/app/requirements.txt
    ports:
      - 5000:4000
